@import "./settings.css";

/* 
    Typography
*/

h1 {
    margin: 0 0 1.5rem 0;
    padding: 1rem 0 0 0;

    font-weight: 800;
    font-size: 3rem;
    letter-spacing: -0.02em;
}

p {
    margin: 0 0 1rem 0;
    font-size: 1.125rem;
}

@supports (font-variation-settings: normal) {
    h1 {
        font-weight: normal;
        font-variation-settings: "wght" 800;
    }
}

a {
    color: var(--color-fg-link);
}

pre {
    margin: 0;
    padding: 0.5rem;

    font-family: "IBM Plex Mono", "Fira mono", monospace;
    font-size: 1rem;
    line-height: 2rem;
    color: var(--color-fg);
}

button.only-icon {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;
    margin: 0.5rem;

    background: transparent;
    border: none;
    box-shadow: none;
    color: var(--color-fg);

    border: 1px solid transparent;
    border-radius: 2px;
}

button.only-icon:not(.selected):hover {
    color: var(--color-fg-selected);
    border-color: var(--color-border);
}

button.only-icon.selected {
    color: var(--color-fg-selected);
    background-color: var(--color-bg-level-2);
    border-color: var(--color-border);
}

/* 
    Common
*/

.container {
    margin: 0 auto;
    padding: 1rem;
    max-width: min(52rem, 100vw);
}

@media (max-width: 30rem) {
    .container {
        padding: 1 rem 2rem;
    }
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;

    padding: 0.5rem;
    background-color: var(--color-bg-level-1);
    border: var(--border);
    border-radius: 1px;
    min-height: 4rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    font-size: 1.125rem;
    width: 100%;
    margin: 0rem;
    padding: 0.5rem;
    background-color: var(--color-bg-level-2);

    border: var(--border);
    color: var(--color-fg);
    border-radius: 2px;

    background-repeat: no-repeat;
    background-position: right 0.5rem top 50%;
    background-size: 1rem 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

button.no-style {
    appearance: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
    background-color: transparent;
    background-image: none;
    border-radius: 0;
}
